<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="da015e71-d789-48bb-ac9b-3edf2cdc5da9" Publisher="CN=Dominique" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="da015e71-d789-48bb-ac9b-3edf2cdc5da9" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Esri.ArcGISRuntime.Toolkit.TestApp.WindowsPhone</DisplayName>
    <PublisherDisplayName>Dominique</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Esri.ArcGISRuntime.Toolkit.TestApp.App">
      <m3:VisualElements DisplayName="ArcGISRuntime Toolkit TestApp" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\Square44x44.png" Description="Test Application for ArcGIS Runtime WinPhoneToolkit" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.jpg" />
        <m3:ApplicationView MinWidth="width320" />
        <!--Used in XAML Designer. DO NOT REMOVE-->
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="enterpriseAuthentication" />
  </Capabilities>
</Package>